* {
    cursor: none !important;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(255, 255, 255);
    padding-top: 40px;
}

/* index 페이지 body 스타일*/
body.index {
    width: 100vw;
    /* 뷰포트 전체 너비 */
    height: 100vh;
    /* 뷰포트 전체 높이 */
    margin: 0;
    padding: 0 !important;
    background-color: #ffeff2;
    overflow: hidden;
    position: relative;
}

/* index 페이지의 로고만 가운데 정렬 */
body.index-page .logo {
    position: fixed;
    /* fixed로 변경 */
    top: 50vh;
    /* 뷰포트 높이의 50% */
    left: 50vw;
    /* 뷰포트 너비의 50% */
    transform: translate(-50%, -50%);
    /* 요소 자체 크기의 50%만큼 이동 */
}