@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.main-nav {
    align-self: stretch;
    position: fixed; /* 상단 고정 */
    top: 0; /* 맨 위에 붙이기 */
    left: 0; /* 왼쪽 끝에 붙이기 */
    width: 100%; /* 전체 너비 */
    z-index: 1000; /* 다른 요소들 위에 표시 */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* 그림자 효과 (선택사항) */
}

.nav-wrapper {
    display: flex;
    padding: 25px 50px;
    justify-content: space-between;
    align-items: center;
    gap: auto;
    background-color: #fff;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 45px;
}

.nav-home {
    color: var(--Black, #2D2D2D);
    font-family: Fredoka;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
    /* 150% */
}

.nav-link {
    color: var(--Black, #2D2D2D);
    font-family: Fredoka;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    /* 164.706% */
}