@font-face {
    font-family: 'jejudoldam';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-EF@1.0/EF_jejudoldam.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.logo {
    font-family: 'jejudoldam';
    font-size: 100px;
    letter-spacing: -20px;
    color: #d8e8ad;
    text-shadow: 0px 8px 4px rgba(0, 0, 0, 0.1);
    animation: bounce 1s ease-in-out infinite;
}

@keyframes bounce {

    0%,
    100% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-20px);
    }
}