.container {
    width: 1300px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    padding: 50px;
    margin-top: 100px;
    gap: auto;
    border-radius: 20px;
    background: #fff
}

.profile {
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 34px;
}

.profileWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.profileName {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}

.profileLinks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 4px;
    align-self: stretch;
}

.linkTitle {
    font-family: 'Pretendard-SemiBold', sans-serif;
    font-size: 30px;
}

.linkItem {
    display: flex;
    align-items: center;
    gap: 4px;
}

/* 모바일: 세로 배치 */
@media screen and (max-width: 767px) {

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(235, 235, 235);
    margin: 0;
    padding: 0;
}

.title {
    display: none;
}

.container {
    width: 500px; /* 고정 너비 사용 */
    padding: 20px; /* 내부 여백 추가 */
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* 상단부터 요소 배치 */
    align-items: center;
    gap: 40px; /* 섹션 간 간격 조정 */
    border-radius: 20px;
    background: #fff;
    box-sizing: border-box; /* 패딩이 너비/높이에 포함되도록 설정 */
    height: auto; /* 콘텐츠에 따라 높이 자동 조정 */
}

.profile {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.profileWrapper {
    display: flex;
    flex-direction: row; /* 가로에서 세로로 변경하여 프로필 이미지와 텍스트를 위아래로 배치 */
    justify-content: space-between;
    align-items: flex-start;
    gap: auto;
    align-self: stretch;
}

.profileName {
    text-align: center;
}

.linkTitle {
    display: none;
}

.linkTitle {
    font-size: 25px;
    margin-bottom: px; /* 제목 아래 여백 추가 */
}
}